$color-primary: #a4ff79;
$color-secondary: #fff;

$color-text: #002216;
$color-text-light: #727976;
$color-text-bright: #fff;

$color-background: #fff;

$font-header: 'Open Sans', sans-serif;
$font-text: 'Open Sans', sans-serif;

$base-size: 12px;
