@import '../../../styles/settings.scss';

.navbar {
  display: flex;
  .devButtonContainer {
    opacity: 0.5;
    margin-right: 100px;
    .devButton {
      background-color: $color-background;
      color: $color-text-light;
      border: none;
      padding: 5px;
    }
    .isActive {
      background-color: $color-primary
    }
  }
}


